@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,100&family=New+Tegomin&family=Playpen+Sans:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}
.body{
    background:url("./bg.jpg");
    min-height:100vh;
    background-size: 100vw 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
#board{
    background: linear-gradient(rgb(134, 230, 134), rgb(252, 252, 72));
    width:90vmin;
    height:92vmin;
    border:2px solid green;
    border-radius: 2px;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
#hiscoreBox{
    position:absolute;
    top:44px;
    right:156px;
    font-size:39px;
    font-weight:bold;
    font-family: 'New Tegomin', serif;
}
#scoreBox{
    position:absolute;
    top:9px;
    right:200px;
    font-size:39px;
    font-weight:bold;
    font-family: 'New Tegomin', serif;

}
.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    border-radius: 2px ;
    transform: scale(1.02);
}
.snake{
    background-color: purple;
    border:.25vmin solid white;
    border-radius: 12px;

}
.food{
    background:linear-gradient(red, purple);
    border:.25vmin solid black;
    border-radius: 8px;

}